/node_modules
/dist
/config.js
/.idea
*.sass-cache
*.css.map
*log
**/.DS_Store
/publish/*
/publish.zip
/package-lock.json

*/*.iml
*/.gradle
*/local.properties
*/.idea
*/build
/.temp
/release
/platforms

package-lock.json
